<h1>Hello <%= user.username %></h1>

<!-- Logout button -->
<form action="/api/auth/logout" method="GET">
  <button
    type="submit"
    class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600"
  >
    Logout
  </button>
</form>
