<main
  class="flex min-h-screen w-full items-center justify-center bg-gray-900 px-6 py-0"
>
  <div class="text-center">
    <p class="text-3xl font-bold text-indigo-400 sm:text-5xl">403</p>
    <h1
      class="mt-6 text-8xl font-extrabold tracking-tight text-white sm:text-9xl"
    >
      Forbidden
    </h1>
    <p class="mt-8 text-2xl font-medium text-gray-400 sm:text-3xl">
      Sorry, you don’t have permission to access this page.
    </p>
    <div class="mt-12 flex items-center justify-center gap-x-8">
      <% if (user && user.role) { %>
      <a
        href="/api/<%= user.role %>"
        class="rounded-md bg-indigo-500 px-6 py-4 text-lg font-semibold text-white shadow-lg hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
      >
        Go back home
      </a>
      <% } else { %>
      <a
        href="/auth/login"
        class="rounded-md bg-indigo-500 px-6 py-4 text-lg font-semibold text-white shadow-lg hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
      >
        Go to login
      </a>
      <% } %>
      <a href="#" class="text-lg font-semibold text-white">
        Contact support <span aria-hidden="true">&rarr;</span>
      </a>
    </div>
  </div>
</main>
